/node_modules
/www
/.angular
/.cache
/.coverage
/.nyc_output
/.idea
/.vscode
/.DS_Store
/build
/coverage
/out-tsc
/output
/tmp
.env*
!.env.example
/src/environments/environment.generated.ts
*.cer
*.jks
*.keystore
*.mobileprovision
*.p12
*.p8
*.log
/android/app/google-services.json
/ios/App/App/GoogleService-Info.plist
